
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dhristhi-primary: #3ab56d;
    --dhristhi-primary-light: #5cc685;
    --dhristhi-primary-dark: #2da456;
  }
}